.mainData {
  justify-items: center;
  display: flex;
  flex: 4;
  margin: 10px;
}

.mainData :nth-child(3) label span {
  color: #f0c569;
}

.mainData :nth-child(3) ul > li {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 13px;
  height: 35px;
  font-weight: 400;
  padding: 15px 20px;
  margin: 12px 20px;
  border-radius: 7px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  background-color: #fff;
}
